CLOUD_MAIL_DOMAIN=example.com,example2.com
CLOUD_MAIL_ADMIN=superadmin@jhupo.com
CLOUD_MAIL_ADMIN_PASSWORD=JIang521.
CLOUD_MAIL_JWT_SECRET=change_me_super_secret
CLOUD_MAIL_ORM_LOG=false
SMTP_GATEWAY_TOKEN=change_me_gateway_token
DATABASE_URL=postgresql+psycopg://cloudmail:cloudmail@tempmail-postgres:5432/cloudmail
REDIS_URL=redis://tempmail-redis:6379/0
POSTGRES_DB=cloudmail
POSTGRES_USER=cloudmail
POSTGRES_PASSWORD=cloudmail
SMTP_HOST=0.0.0.0
SMTP_PORT=25
SMTP_API_BASE=http://tempmail-api:8000
SMTP_OUT_HOST=
SMTP_OUT_PORT=587
SMTP_OUT_USERNAME=
SMTP_OUT_PASSWORD=
SMTP_OUT_FROM_EMAIL=
SMTP_OUT_USE_TLS=true
SMTP_OUT_USE_SSL=false
DIRECT_SEND_ENABLED=false
DIRECT_HELO_HOST=mail.freeloader.xyz
DKIM_SELECTOR=default
DKIM_PRIVATE_KEY_PATH=/data/dkim/default.private
