CLOUD_MAIL_DOMAIN=example.com,example2.com
CLOUD_MAIL_ADMIN=superadmin@jhupo.com
CLOUD_MAIL_ADMIN_PASSWORD=JIang521.
CLOUD_MAIL_JWT_SECRET=change_me_super_secret
CLOUD_MAIL_ORM_LOG=false
SMTP_GATEWAY_TOKEN=change_me_gateway_token
